<div class="container">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<div class="restaurant-card">
				<div class="restaurant-card-body">
					<h1><%= @restaurant.name.upcase %></h1>
					<h2>Address: <%= @restaurant.address.capitalize %></h2>
					<h2>Phone number: <%= @restaurant.phone_number %></h2>
					<h2>Category: <%= @restaurant.category.capitalize %></h2>
				</div>
				<div class="restaurant-card-footer">
					<%= link_to "Update restaurant", edit_restaurant_path(@restaurant) %>
					<%= link_to "List all", restaurants_path %>
				  <%= link_to "Delete restaurant", restaurant_path(@restaurant), method: :delete, data: { confirm: "Are you sure?" } %>
				</div>
			</div>
		</div>
	</div>
</div>
